<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="background.css" />
    
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="next_tech_watch.css" />
    <link rel="stylesheet" href="footer.css" />
  </head>
  <body>
    <%- include('partial/navbar') %> 
    <%- include('partial/next_tech_watch') %>

    <h2 id="title_past">Past Tech Watch</h2>
    
    <div class="container">
      <% oldTab.forEach(element => { %>

      <div class="past-div">
        <h3 class="container_title"><%= element.groupsToAdd %></h3>

        <div class="container_student">
          <p class="container_p">Student Affiliate :</p>
          <% element.names.forEach(elem => { %>
          <p class="container_name"><%= elem %></p>
          <%}); %>
        </div>

        <div class="container_date">
          <p class="container_p">When :</p>

          <p class="date"><%= moment(element.date).format('LLLL') %></p>
        </div>
      </div>
      <% }) %>
    </div>
    <%- include('partial/footer') %>
    <%- include('partial/anim') %>
  </body>
</html>
